.answer-group {
  margin-top: @padding-sm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  label {
    margin-bottom: @padding-sm;
    padding: @padding-md;
    width: 100%;
    box-shadow: @shadow-1-down;
    text-align: center;

    @media (min-width: @screen-md) {
      width: calc(50% - @padding-xs);
    }

    &.ant-radio-wrapper-checked {
      border: 1px solid @primary-color;
    }
  }

  span.ant-radio {
    visibility: hidden;
  }
}
